@use 'color' as c;

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  position: relative;
}

main {
  padding: 30px;
  text-align: left;
  padding-bottom: 250px;
}

li {
  list-style: none;
}

a {
  color: c.$primary;
}