@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

// font-family: 'Archivo Black', sans-serif;

$heading-font: 'Roboto', sans-serif;
$body-font: 'Lora', serif;

html {
  font-size: 18px;
}

body {
  font-family: $body-font;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; //fix for iOS
}

h1 {
  font-family: $heading-font;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 1rem;
}

.main-title {
  font-size: clamp(3rem, 6vw, 10rem);
}

a {
  font-family: $heading-font;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  min-width: 35ch;
  max-width: 85ch;
}

.lead {
  font-size: 1.5rem;
}

.block-quote {
  font-size: 1.3rem;
  font-weight: bold;
}