@use "sass:color";
@use '../base/color' as c;
@use '../base/variables' as var;

button {
  display: inline-block;
  margin-bottom: 0.25rem;
  padding: var.$btn-padding-y var.$btn-padding-x;
  background-color: var.$btn-bg-color;
  border: none;
  color: white;
  border-radius: var.$btn-border-radius;
  font-size: var.$btn-font-size;
  font-weight: bold;

  &:focus,
  &:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

  &:hover {
    background-color: c.$primary;
    cursor: pointer;
  }
}

#hamburger {
  background-color: initial;

  &:hover {
    background-color: c.$success;
    cursor: pointer;
  }

  &:focus {
    outline: 1px solid c.$success;
  }
}

form button {
  display: block;
  margin: 1rem 0;
}