.form-group {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

label {
  display: inline-block;
  width: 90px;
  margin-bottom: 0.5rem;
}

.add-comment-form {
  margin: 0 auto;
  width: 750px;
  padding: 1rem;
}

@media (min-width: 560px) {
  .form-group input {
    min-width: 75%;
  }
}

@media (min-width: 1000px) {
  .form-group input {
    min-width: 50%;
  }
}