@use '../base/color' as c;
@use 'sass:color';

#main-header {
  background-color: c.$primary;
  background-image: radial-gradient(circle, color.adjust(c.$primary,$lightness: 15%), c.$primary);
  color: #fff;
  padding: 1rem;
}