@use '../base/color' as c;
@use '../base/variables' as var;

nav {

  ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  a {
    display: block;
    padding: var.$nav-link-padding-y var.$nav-link-padding-x;
    color: inherit;
    text-decoration: none;
    transition: color .15s ease-in-out;

    &:hover {
      color: c.$success;
    }
  }

  .nav-branding {
    display: flex;
  }
}

#hamburger {
  margin: 1rem;
}

@media (min-width: 600px) {
  #hamburger {
    display: none;
  }
}

#hamburger[aria-expanded='true'] {
  color: #000;
}
#hamburger[aria-expanded='true'] svg {
  background: #262262;
  fill: white;
}
#hamburger[aria-expanded='true'] span {
  position: static;
}
#hamburger[aria-expanded='true'] #expanded {
  display: block;
}
#hamburger[aria-expanded="true"] + .main-nav {
  display: block;
}

.js-enabled .main-nav {
  display: none;
}