@use '../base/color' as c;
@use '../base/variables' as var;

nav {
  display: flex;
  flex-direction: column;

  .main-nav {
    // display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 2rem;
  }

  a {
    display: block;
    padding: var.$nav-link-padding-y var.$nav-link-padding-x;
    font-size: var.$paragraph-font-size;
    color: inherit;
    text-decoration: none;
    transition: color .15s ease-in-out;

    &:hover {
      color: c.$success;
      text-decoration: underline;
      text-underline-offset: 6px;
    }
  }

  .nav-branding {
    display: flex;
  }
}

/* Styles for screens above 686px */
@media (min-width: 686px) {
  #hamburger {
    display: none; /* Hide the hamburger menu */
  }

  .main-nav {
    display: flex; /* Display the main navigation */
  }
}

/* Styles for screens below 686px */
@media (max-width: 686px) {
  #hamburger {
    display: block; /* Display the hamburger menu */
  }

  .main-nav {
    display: none; /* Hide the main navigation */
  }
}

// #hamburger[aria-expanded='true'] {
//   color: #000;
// }
#hamburger[aria-expanded='true'] svg {
  background: #262262;
  border-radius: 6px;
  fill: white;
}
#hamburger[aria-expanded='true'] span {
  position: static;
}
#hamburger[aria-expanded='true'] #expanded {
  display: block;
  margin-bottom: 0.5rem;
}
#hamburger[aria-expanded="true"] + .main-nav {
  display: block;
}