@use '../base/color' as *;
@use '../base/variables' as *;

nav {

  ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  a {
    display: block;
    padding: $nav-link-padding-y $nav-link-padding-x;
    color: inherit;
    text-decoration: none;
    transition: color .15s ease-in-out;

    &:hover {
      color: $success;
    }
  }

  .nav-branding {
    display: flex;
  }
}
